
body  {

    margin:0;
    padding: 0;
}

h1 {
  margin-top: 5px;
  margin-left: 10px;
  margin-bottom: 10px;
  color: orangered;

}

#defaultCanvas0 {
  position: fixed;
  left: 0px;
  top:0px;
  z-index: -100;
  /* border: solid 4px black;*/
}

input[type=file]  {
  color: transparent;
  overflow: hidden;
}

span {
  cursor: pointer;
}
span:hover {
  background-color: orangered;
}

#uni {

  position: absolute;
  left: 10px;
  top:300px;
  z-index: 1000;
  width: 180px;
  overflow: scroll;
  height: 250px;
  overflow-x: hidden;
  display:none;
}

a {
  cursor: pointer;
  margin-right:1%;
  
}



a:hover {
background-color: orangered;
}


#menu {
    position: fixed;
    top : 10px;
    left: 10px;
    width: 20%;
  
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }
  
  /* The slider itself */
  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }
  
  /* Mouse-over effects */
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  
  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #000000; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
  
  .slider::-moz-range-thumb {
    width: 15px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #000000; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }



  /************************* MENU DEROULANT CSS *****************/
  .dropbtn {
    background-color: #000000;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  .show {display: block;}
  /**************************************************************/





/* SMARTPHONE MODE PORTRAIT */
@media screen and (orientation: portrait) {

   

}